<!DOCTYPE html>
<html>
  <head>
    <title>Show do Mijão</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
  	<script type="text/javascript" src="/javascripts/app.js"></script>

  	<div ng-app="mainapp">
  	{{{body}}}	
  	</div>
    
  </body>
</html>
